<section class="module parallax parallax-6">
  <div class="part6-page1">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br>
      Case Studies and Reports
      <br><br><br><br><br>
    </div>
  </div>
  <div class="center">
    <button>
      <%= image_tag("down.png") %>
    </button>
  </div>
</section>
