<section class="module parallax parallax-5">
  <div class="part5-page1">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br>
      Our Story<br><br>
      <div class="garamond">
        We're a <em>growth engineering</em> firm that partners<br>
        with and grows a select portfolio of companies.<br>
        We solve problems through data-driven insights <br>
        and custom technology implementations.<br>
      </div>
      <br><br><br>
    </div>
  </div>
  <div class="center">
    <button>
      <%= image_tag("down.png") %>
    </button>
  </div>
</section>
