<section class="module parallax parallax-5">
  <div class="col-md-10 col-md-offset-2">
    <br><br><br>
    <h3>Our Story</h3><br>
    <p>Launched out of a venture studio, experience <br>
      working in a fast-paced startup environment. Drive <br>
      revenue growth through technical initiatives and <br>
      rapid data-driven iteration. Our skills set will lies <br>
      somewhere between a web developer, marketing <br>
      hacker, data scientist, software engineer, <br>
      and product strategists.</p>
  </div>
</section>
