<section class="module parallax parallax-5">
  <div class="col-md-10 col-md-offset-2">
    <br><br><br>
    <h3>Our Story</h3><br>
    <p>Grolab came out of a venture studio and has experience <br>
      working in a fast-paced startup environment. We drive <br>
      revenue growth through technical initiatives and <br>
      rapid data-driven iteration. Our team consists of <br>
      software developers, data scientists, UX designers, <br>
      art directors and product strategists.</p>
  </div>
</section>
