<section class="module parallax parallax-3">
  <div class="col-md-11 col-md-offset-1">
    <br><br><br>
    Process + Strategy
    <br><br><br>
  </div>

  <div class="center">
    <button>
      <%= image_tag("white_down_arrow.png") %>
    </button>
  </div>
</section>
