<section class="module parallax parallax-5">
  <div class="col-md-11 col-md-offset-1">
    <br><br><br>
    Our Story<br><br>
    Grolab came out of a venture studio and has experience <br>
    working in a fast-paced startup environment. We drive <br>
    revenue growth through technical initiatives and <br>
    rapid data-driven iteration. Our team consists of <br>
    software developers, data scientists, UX designers, <br>
    art directors and product strategists.
  </div>
</section>
