<section class="module parallax parallax-6">
  <div class="part6-page1">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br>
      Case Studies and Reports
      <br><br><br><br><br>
    </div>
    <div class="col-md-1">
      <br><br><br>
      <div class="pt6-pg1-btn">
        <button>
          <%= image_tag("right.png") %>
        </button>
      </div>
    </div>
  </div>
  <div class="center">
    <button>
      <%= image_tag("down.png", class: "down-arrow") %>
    </button>
  </div>
</section>
