<section class="module parallax parallax-7">
  <div class="col-md-11 col-md-offset-1">
    <div class="col-md-8">
      <br><br><br>
      We’d love to hear from you.<br><br>
      team@grolab.la<br><br>
      8252 1/2 Santa Monica Blvd., Los Angeles, CA
    </div>
    <div class="col-md-4">

    </div>
  </div>
</section>
