<section class="module parallax parallax-3">
  <div class="part3-page1">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br>
      Process + Strategy
      <br><br><br>
    </div>
  </div>

  <div class="center">
    <button>
      <%= image_tag("white_down_arrow.png") %>
    </button>
  </div>
</section>
