<section class="module parallax parallax-7">
  <div class="col-md-10 col-md-offset-2">
    <div class="col-md-6">
      <br><br><br>
      <h3>We’d love to hear from you.</h3><br>
      <p>team@grolab.la</p><br>
      <p>8252 1/2 Santa Monica Blvd. <br>
        Los Angeles, CA</p>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</section>
