<section class="module parallax parallax-2">
  <div class="part2-page1">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br><br>
      We’re not Digital Marketers<br>
      or Growth Hackers.<br>
      We’re <b>Growth Engineers.</b><br>
      We think about growth differently.
      <br><br><br><br>
    </div>
    <div class="col-md-1">
      <br><br><br><br><br><br>
      <div class="pt2-pg1-btn">
        <button>
          <%= image_tag("right.png") %>
        </button>
      </div>
    </div>
  </div>

  <div class="part2-page2">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br><br>
      We solve problems,<br>
      & here's what we <button class="whatwedo">use</button>.
      <br><br><br><br><br><br>
    </div>
    <div class="col-md-1">
      <br><br><br><br><br><br>
      <div class="pt2-pg2-btn">
        <button>
          <%= image_tag("right.png") %>
        </button>
      </div>
    </div>
  </div>
  <div class="center">
    <button>
      <%= image_tag("down.png", class: "down-arrow") %>
    </button>
  </div>
</section>
