<section class="module parallax parallax-2">
  <div class="part2-page1">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br><br>
      We’re not Digital Marketers<br>
      or Growth Hackers.<br>
      We’re <b>Growth Engineers.</b><br>
      We think about growth differently.
      <br><br><br><br>
    </div>
    <div class="col-md-1">
      <br><br><br><br><br><br>
      <div class="pt2-pg1-btn">
        <button>
          <%= image_tag("right.png") %>
        </button>
      </div>
    </div>
  </div>

  <div class="part2-page2">
    <div class="col-md-10 col-md-offset-1">
      <br><br><br><br>
      We solve problems,<br>
      & here's what we <button class="whatwedo-btn">use</button>.
      <br><br>
      <div class="whatwedotable">
        <table class="table">
          <colgroup>
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-2">
          </colgroup>
          <tr class="garamond whatwedoheader">
            <td>Data Science and Analytics</td>
            <td>Marketing Strategy</td>
            <td>Software Development</td>
          </tr>
          <tr class="garamond whatwedobody">
            <td>Make data interpretable and actionable for your team. We recommend, implement and test changes in data collection.</td>
            <td>Indentify channels where you should be spending more or less money based off of analytics.</td>
            <td>Design and build custom analytics reports and dashboards for specific metrics relevant to your business. Our sister company has built dozens of consumer internet web applications on behalf of rapidly scaling companies.</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
    <div class="col-md-1">
      <br><br><br><br><br><br>
      <div class="pt2-pg2-btn">
        <button>
          <%= image_tag("right.png") %>
        </button>
      </div>
    </div>
  </div>
  <div class="center">
    <button>
      <%= image_tag("down.png") %>
    </button>
  </div>
</section>
