@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  background: none;
}

.garamond {
  font-family: 'EB Garamond', serif;
  color: black;
}

.navbar-fixed-top {
  padding-top: 1.5rem;
  padding-left: 0rem;
  padding-bottom: 1.5rem;
  background-color: #323298;
  opacity: 0.6;
}

.navbar {
  color: white;
}

div.center {
  width: 200px;
  position: relative;
  left: 50%;
}

div.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section.module.parallax-1 {
  color: white;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 60px;
  background-image: url('gro.png');
}

section.module.parallax-2 {
  color: #323298;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 30px;
}

section.module.parallax-3 {
  color: #FFFFFF;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 60px;
  background-color: #7AE0BE;
}

section.module.parallax-4 {
  color: #FFFFFF;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 60px;
  background-color: #7AD8E0;
}

section.module.parallax-5 {
  color: #323298;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 26px;
}

section.module.parallax-6 {
  color: #323298;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 26px;
}

section.module.parallax-7 {
  color: #323298;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 26px;
}
