@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('gro.png');
}

.navbar-fixed-top {
  padding-top: 2rem;
  padding-left: 0rem;
}

.navbar {
  color: white;
}

.page1 {
  color: white;
}
