<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <title>Relaunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-1 col-md-offset-1">Grolab</div>
    <div class="col-md-1 col-md-offset-8">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
